{% extends 'core/base.html' %}
{% load static %}
{% block title %}Actualizar Empresa{% endblock %}
{% block content %}
{% include 'companies/includes/companies_menu.html'%}
<main role="main">
  <div class="container">
    <div class="row mt-3 mb-3">
      <div class="col-md-9 mx-auto">
        <div>
          
          {% if 'ok' in request.GET %}
            <p style="color:green;">
              Datos modificados.
              <a href="{% url 'companies:company' company.id %}">Haz click aquí para ver los cambios</a>.
              {% comment %} <a href="{% url 'companies:company' company.id company.name|slugify %}">Haz click aquí para ver los cambios</a>. {% endcomment %}
            </p>
          {% endif %}
            
          <form action="" method="post">{% csrf_token %}
            
            {{ form.as_p }}
            <div class="text-center">
              <input type="submit" class="btn btn-primary btn-block" value="Actualizar Empresa" />
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</main>
{% endblock %}