{% extends 'questions/question_detail_base.html' %}
{% load static %}
{% block question_content %}


{% if 'init' in template_type %}
      <div class="mb-5">
        <h1><b>{{ question|upper }}</b></h1>
      </div>
        
      <form action="" method=post>
        {% csrf_token %}
            
        {% include template_type %}

        <div class="mb-3">
          <input type="submit" class="btn btn-primary btn-block" value="Siguiente" />
        </div>
      </form>
{% else %}
{% if question.subsection  %}
<h3>{{ question.subsection }}</h3>
<hr>
{% endif %}
  <div class="row mt-3">
    <div class="col-md-9 mx-auto">
      <div class="mb-5">
        <b>{{ question.number }}.  {{ question }}</b>
      </div>
      <form action="" method=post>
        {% csrf_token %}
        <input id="question_metadata" name="question_metadata" type="hidden" value="{{question_metadata}}" />
        {% include template_type %}
        <div class="mb-3">
          {% comment %} <input type="button" class="btn btn-primary btn-block" id= "btnGuardar" value="Guardar" disabled/> {% endcomment %}
          <input type="submit" class="btn btn-primary btn-block" id= "btnGuardar" value="Guardar" disabled/>
        </div>
      </form>
      <script>
        const btnGuardar = document.getElementById('btnGuardar');
        let questionMetadata = JSON.parse(document.getElementById('question_metadata').value)
        console.log(questionMetadata)
        const questionType = questionMetadata.question_type
        const dataFields = document.querySelectorAll('.form-control');

        const basicValidationTxt = (txtFields) => {
          console.log("HACEMOS VALIDACIONES BÁSICAS DE TEXTO")
          txtFields[0].disabled = false;
          txtFields.forEach(function(txtField) {
            txtField.addEventListener('input', function() {
              let elementToEnable;
              txtFieldNext = parseInt(txtField.id) + 1;
              for(compareField of txtFields)
                if(compareField.id == txtFieldNext) elementToEnable = compareField;
              if(!elementToEnable) elementToEnable = btnGuardar;

              if(!txtField.checkValidity() || !txtField.value){
                elementToEnable.disabled = true;
              }
              else{
                elementToEnable.disabled = false;
              }
            });
          });}

        const basicValidationNum = (numFields, metadata) => {
          numFields[0].disabled = false;
          numFields.forEach(function(numField, index) {
            numField.addEventListener('input', function() {
              let nextElement;
              console.log("INDEX")
              console.log(index)
              console.log(numFields[index+1])
              if(numFields[index+1]) nextElement = numFields[index+1];
              else nextElement = btnGuardar;
              //numFieldNext = parseInt(numField.id) + 1;
              //for(compareField of numFields)
                //if(compareField.id == numFieldNext) {
                  //nextElement = compareField;
                  //break;
                //}
              if(!nextElement) nextElement = btnGuardar;
              if(!metadata[numField.id]) { //Si no hay hijo solo validamos para el siguiente campo
                if(!numField.checkValidity() || !(numField.value >= 0) )
                  nextElement.disabled = true
                else
                  nextElement.disabled = false

              } else { //Si hay hijo validamos para el hijo, y luego el siguiente campo
                  childElement = document.getElementById(metadata[numField.id]);
                  if(!numField.checkValidity() || !(numField.value >= 1)){
                    childElement.disabled = true;
                  }
                  else{
                    childElement.disabled = false;
                  }
    
                }
              /*if(!numField.checkValidity() || !(numField.value >= 0) )
                elementsToEnable.forEach( element => element.disabled = true )
              else
                elementsToEnable.forEach( element => element.disabled = false )*/
            });
          });}
  
  
        console.log(questionType)
        const VALIDATIONS = {
          'text': (txtFields) => basicValidationTxt(txtFields),
          'number': (numFields, metadata) => basicValidationNum(numFields, metadata),
          'scale': (numFields, metadata) => basicValidationNum(numFields, metadata)
        }

        const VALIDATIONS_DEFAULT = () => console.log('Sin validaciones');

        console.log(VALIDATIONS[questionType])
        const validations = VALIDATIONS[questionType]
          ? VALIDATIONS[questionType](dataFields, questionMetadata)
          : VALIDATIONS_DEFAULT
      </script>
    </div>
  </div>
{% endif %}
    
{% endblock %}
