{% load static %}
{% block content %}
  <div class=row>
    <div class="col-md-2 mx-auto mb-3">
      <label for="cuit">CUIT</label>
    </div>
    <div class="col-md-10 mx-auto mb-3">
      <input type="text" class="form-control" 
            id="cuit" name="cuit" 
            value="{{company.cuit}}" disabled/>
    </div>
  </div>
  <div class=row>
    <div class="col-md-2 mx-auto mb-3">
      <label for="name">Nombre de la Empresa o Razón Social</label>
    </div>
    <div class="col-md-10 mx-auto mb-3">
      <input type="text" class="form-control" 
            id="name" name="name" 
            value="{{company.name}}" />
    </div>
  </div>
  <p><b>Dirección de la Empresa</b></p>
  <div class=row>
    <div class="col-md-2 mx-auto mb-3">
      <label for="street">Calle / Ruta</label>
    </div>
    <div class="col-md-10 mx-auto mb-3">
      <input type="text" class="form-control" 
            id="street" name="street" 
            value="{{company.adress_street}}" />
    </div>
  </div>
  <div class=row>
    <div class="col-md-2 mx-auto mb-3">
      <label for="number">Número / Km</label>
    </div>
    <div class="col-md-10 mx-auto mb-3">
      <input type="text" class="form-control" 
            id="numer" name="number" 
            value="{{company.address_number}}" />
    </div>
  </div>
  <div class=row>
    <div class="col-md-2 mx-auto mb-3">
      <label for="zip_code">Código Postal</label>
    </div>
    <div class="col-md-10 mx-auto mb-3">
      <input type="text" class="form-control" 
            id="zip_code" name="zip_code" 
            value="{{company.zip_code}}" />
    </div>
  </div>
  <div class=row>
    <div class="col-md-2 mx-auto mb-3">
      <label for="phone">Teléfono</label>
    </div>
    <div class="col-md-10 mx-auto mb-3">
      <input type="text" class="form-control" 
            id="phone" name="phone" 
            value="{{company.phone}}" />
    </div>
  </div>
  <div class=row>
    <div class="col-md-2 mx-auto mb-3">
      <label for="email">E-mail</label>
    </div>
    <div class="col-md-10 mx-auto mb-3">
      <input type="text" class="form-control" 
            id="email" name="email" 
            value="{{company.email}}" />
    </div>
  </div>
  <div class=row>
    <div class="col-md-2 mx-auto mb-3">
      <label for="web_page">Página Web</label>
    </div>
    <div class="col-md-10 mx-auto mb-3">
      <input type="text" class="form-control" 
            id="web_page" name="web_page" 
            value="{{company.web_page}}" />
    </div>
  </div>
{% endblock %}