
<div>
  <div class="row mb-3">
    <div class="col-md-5">
      <label for="{{items.0.1.0.0.id}}">
        <b>{{items.0.0.text}}</b>
      </label>
    </div>
    <div class="col-md-7 mx-auto">
      <input type="text" class="form-control data" id="{{items.0.1.0.0.id}}" name="{{items.0.1.0.0.id}}" 
            pattern="[a-zA-Z0-9áéíóúÁÉÍÓÚüÜñÑ.,;: ]+"  title="Solo se permiten letras, números, letras acentuadas y la letra ü"
            required disabled/>
    </div>
  </div>
  <hr>
  <div class="row mb-3">
    <div class="col">
      <b>{{items.1.0.text}}</b>
    </div>
  </div>
  {% for option in items.1.1  %}
    <div class="row mb-3">
      <div class="col-md-10 mx-auto">
        <div class="form-check">
          <input class="form-check-input data" type="radio" name="{{items.1.0.id}}" id="{{option.0.id}}" value="{{option.0.text}}" 
                required disabled/>
          <label class="form-check-label" 
                  for="{{option.0.id}}">
            {{option.0.text}}
          </label>
        </div>
      </div>
    </div>        
  {% endfor %}
</div>
