{% extends 'questions/question_detail_base.html' %}
{% load static %}
{% block question_content %}


{% if 'init' in template_type %}
      <div class="mb-5">
        <h1><b>{{ question|upper }}</b></h1>
      </div>
      <form id="form" action="" method=post autocomplete="off">
        {% csrf_token %}
        <input id="question_metadata" name="question_metadata" type="hidden" value="{{question_metadata}}" />            
        {% include template_type %}

        <div class="mb-3">
          <input type="submit" class="btn btn-primary btn-block" id= "btnGuardar" value="Siguiente" disabled/>
        </div>
      </form>
      <script>

        let questionMetadata = JSON.parse(document.getElementById('question_metadata').value)
        const questionType = questionMetadata.question_type
        const dataFields = document.querySelectorAll('.data');

        const basicValidationInit2 = (fields, metadata) => {
          fields[0].disabled = false;
          fields[1].disabled = false;

          for(let i=0; i<2; i++) {
            fields[i].addEventListener('change', function() {
              if(this.checked) {
                if(this.value === '1') {
                  fields[2].disabled = false;
                  btnGuardar.disabled = true;
                }
                else {
                  fields[2].disabled = true;
                  btnGuardar.disabled = false;                  
                }
              }
            })
          }

          fields[2].addEventListener('input', function() {
            if(fields[2].checkValidity()) btnGuardar.disabled = false;
            else btnGuardar.disabled = true;
          })
        }

        const BASIC_VALIDATIONS = {
          'init_2': (fields, metadata) => basicValidationInit2(fields, metadata)
        }
        const BASIC_VALIDATIONS_DEFAULT = () => {
          alert("Esta pregunta no tiene validaciones. Por favor seleccione la opción correspondiente.");
          btnGuardar.disabled = false;
        }
        
        const basic_validations = BASIC_VALIDATIONS[questionType]
          ? BASIC_VALIDATIONS[questionType](dataFields, questionMetadata)
          : BASIC_VALIDATIONS_DEFAULT()


      </script>
{% else %}
{% if question.subsection  %}
<h3>{{ question.subsection }}</h3>
<hr>
{% endif %}
  <div class="row mt-3">
    <div class="col-md-9 mx-auto">
      <div class="mb-5">
        <b>{{ question.number }}.  {{ question }}</b>
      </div>
      <form id="form" action="" method=post autocomplete="off">
        {% csrf_token %}
        <input id="question_metadata" name="question_metadata" type="hidden" value="{{question_metadata}}" />
        <div id="hidden-div">
        </div>
        {% include template_type %}
        <div id="total-div">
        </div>
        <div class="mb-3">
          <input type="submit" class="btn btn-primary btn-block" id= "btnGuardar" value="Guardar" disabled/>
        </div>
      </form>






      <script>
        const form = document.getElementById("form")
        const btnGuardar = document.getElementById('btnGuardar');
        let questionMetadata = JSON.parse(document.getElementById('question_metadata').value)
        const questionType = questionMetadata.question_type
        const dataFields = document.querySelectorAll('.data');
        form.addEventListener('submit', function() {
          // Desactiva el botón de envío después de hacer clic
          btnGuardar.disabled = true;
          if(questionMetadata['validation'][0][0] === 'calculateAverageNextQuestion') {
            const [, value, condition] = questionMetadata['validation'][0];
            calculateAverageNextQuestionValidation(dataFields, value, condition);
          }
        });

        const toEnableFieldTxt = (txtField, elementToEnable) => {
          if(txtField.checkValidity()){
            elementToEnable.disabled = false;
          }
          else{
            elementToEnable.disabled = true;
          }
        }

        const toEnableFieldNum = (numField, elementToEnable) => {
          if(numField.checkValidity()){
            elementToEnable.disabled = false;
          }
          else{
            elementToEnable.disabled = true;
          }
        }

        const basicValidationTxt = (txtFields, metadata) => {
          txtFields[0].disabled = false;
          txtFields.forEach(function(txtField, index) {
            txtField.addEventListener('input', function() {
              let nextElement;
              nextElement = txtFields[index+1]
                            ? txtFields[index+1]
                            : btnGuardar
              toEnableFieldTxt(txtField, nextElement)
            });
          });}

        const basicValidationNum = (numFields, metadata) => {
          numFields[0].disabled = false;
          numFields.forEach(function(numField, index) {
            numField.addEventListener('input', function() {
              let nextElement;
              nextElement = numFields[index+1]
                            ? numFields[index+1]
                            : btnGuardar
              if(!metadata[numField.id])  //Si no hay hijo solo validamos para el siguiente campo
                toEnableFieldNum(numField, nextElement);
              else { //Si hay hijo validamos para el hijo, y luego el siguiente campo
                childElement = document.getElementById(metadata[numField.id]);
                if(numField.checkValidity() && (numField.value >= 1)){
                  childElement.disabled = false;
                  childElement.required = true;
                  nextElement.disabled = true;
                  childElement.addEventListener('input', function() {
                    toEnableFieldTxt(childElement, nextElement)
                  });
                }
                else{
                  if(numField.value >= 0){
                    childElement.disabled = true;
                    childElement.required = false;
                    nextElement.disabled = false;
                  }
                  else{
                    childElement.disabled = true;
                    childElement.required = false;
                    nextElement.disabled = true;
                  }
                }
              }
            });
          });
        }

        const basicValidationYear = (numFields, metadata) => {
          numFields[0].disabled = false;
          numFields[0].addEventListener('input', function() {
            toEnableFieldNum(numFields[0], btnGuardar);
          });
        }

        const basicValidationTotal = (numFields, metadata) => {
          numFields[0].disabled = false;
          numFields.forEach(function(numField, index) {
            if(index < numFields.length-1) {
              numField.addEventListener('input', function() {
                let nextElement;
                nextElement = numFields[index+2]
                              ? numFields[index+1]
                              : btnGuardar
                toEnableFieldNum(numField, nextElement);
              });
            }
          });
        }

        const basicValidationSelectOne = (checkFields, metadata) => {
          //items es un array de arrays, cada array interno contiene las opciones del item
          const options = Object.values(dataFields);
          const items = Object.values(
            options.reduce((acc, option) => {
              // Si el grupo aún no existe, lo inicializamos como un array vacío
              if (!acc[option.name]) {
                acc[option.name] = [];
              }
              // Añadimos el objeto actual al grupo correspondiente
              acc[option.name].push(option);
              return acc;
            }, {})
          );
          const itemChilds = [];  //Arreglo de hijos de cada item
                                  //un hijo por item, organizados por index

          items.forEach((item, index) => {
            let itemChild;
            item.forEach(option => {
              if(metadata[option.id]) {
                itemChild = document.getElementById(metadata[option.id]);
              }
            })
            itemChilds.splice(index, 0, itemChild);
          })
          items[0].forEach(option => option.disabled = false)
          items.forEach((item, index) => {
            item.forEach(option => {
              option.addEventListener('change', function(){
                if(this.checked) 
                  if(!metadata[option.id]){
                    if(items[index+1]) {
                      items[index+1].forEach(option => option.disabled = false)}
                    else btnGuardar.disabled = false
                    //SI EL GRUPO TIENE HIJO LO DESHABILITAMOS
                    if(itemChilds[index]) {
                      itemChilds[index].disabled = true;
                      itemChilds[index].required = false;
                    }
                  } else {
                      childElement = itemChilds[index]
                      childElement.disabled = false
                      childElement.required = true
                      if(items[index+1]) items[index+1].forEach(option => option.disabled = true)
                      else btnGuardar.disabled = true
                      //VALIDO EL HIJO
                      childElement.addEventListener('input', function() {
                        if(childElement.checkValidity()){
                          if(items[index+1]) items[index+1].forEach(option => option.disabled = false)
                          else btnGuardar.disabled = false
                        }
                        else{
                          if(items[index+1]) items[index+1].forEach(option => option.disabled = true)
                          else btnGuardar.disabled = true
                        }                      
                      });                      
                  }
              });
            });
          })
        }
  
        const basicValidationDoubleSelect = (checkFields, metadata) => {
          //items es un array de arrays, cada array interno contiene las opciones del item
          const options = Object.values(dataFields);
          const items = Object.values(
            options.reduce((acc, option) => {
              // Si el grupo aún no existe, lo inicializamos como un array vacío
              if (!acc[option.name]) {
                acc[option.name] = [];
              }
              // Añadimos el objeto actual al grupo correspondiente
              acc[option.name].push(option);
              return acc;
            }, {})
          );
          const itemsChilds = [];
          items.forEach((item, index) => {
            option = item[1]
            let optionChilds = [];
            childs_id = metadata[option.id]
            childs_id.forEach(child_id => {
              child = document.getElementById(child_id);
              optionChilds.splice(index, 0, child);
            })
            itemsChilds.splice(index, 0, optionChilds)
          })
          items[0].forEach(option => option.disabled = false)
          items.forEach((item, index) => {
            item.forEach((option) => {
              option.addEventListener('change', function(){
                if(this.checked) {
                  nextItem = items[index+1] || undefined
                  if(metadata[option.id]){ //SI TIENE HIJOS ACTIVARLOS Y DESACTIVAR NEXT
                    itemsChilds[index].forEach(optionChild => optionChild.disabled = false);
                    if(nextItem) nextItem.forEach(nextOption => nextOption.disabled = true)
                    else btnGuardar.disabled = true
                    itemsChilds[index].forEach( itemChild => {
                      itemChild.addEventListener('change', function(){
                        if(nextItem) nextItem.forEach(option => option.disabled = false)
                        else btnGuardar.disabled = false
                      })
                    })       
                  } else { //NO TIENE HIJOS ACTIVAR NEXTELEMENT, DESACTIVAR HIJOS DEL ITEM
                    if(nextItem) nextItem.forEach(nextOption => nextOption.disabled = false)
                    else btnGuardar.disabled = false
                    itemsChilds[index].forEach(optionChild => optionChild.disabled = true);
                  } 
                }
              });                      
            });
          });
        }

        const basicValidationDoubleCheckTxt = (checkFields, metadata) => {
          //items es un array de arrays, cada array interno contiene las opciones del item
          const options = Object.values(dataFields);
          const items = Object.values(
            options.reduce((acc, option) => {
              // Si el grupo aún no existe, lo inicializamos como un array vacío
              if (!acc[option.name]) {
                acc[option.name] = [];
              }
              // Añadimos el objeto actual al grupo correspondiente
              acc[option.name].push(option);
              return acc;
            }, {})
          );
          let child;
          items[0].forEach(option => {
            if(metadata[option.id]) child = document.getElementById(metadata[option.id]);
          })
          items[0].forEach(option => {
            option.disabled = false;
            option.addEventListener('change', function(){
              if(this.checked) {
                if(metadata[option.id]) {
                  btnGuardar.disabled = true;
                  child.disabled = false;
                  child.addEventListener('input', function() {
                    if(child.checkValidity()) {
                      items[1].forEach(option => {
                        option.disabled = false;
                        option.addEventListener('change', function(){
                          if(this.checked) {
                            btnGuardar.disabled = false;
                          }
                        })
                      })
                    } else {
                      btnGuardar.disabled = true;
                      items[1].forEach(option => {
                        option.disabled = true;
                      })
                    }
                  })
                }
                else {
                  btnGuardar.disabled = false;
                  child.disabled = true;
                  items[1].forEach(option => {
                    option.disabled = true;
                  })
                }
              }
            })
          })
        }

        const basicValidationTxtSel = (fields, metadata) => {
          fields[0].disabled = false;
          fields[0].addEventListener('input', function() {
            if(fields[0].checkValidity()) {
              for(let i=1; i<fields.length; i++) fields[i].disabled = false;
            } else {
              for(let i=1; i<fields.length; i++) {
                fields[i].disabled = true;
                btnGuardar.disabled = true;
              }
            }
          for(let i=1; i<fields.length; i++) {
            fields[i].addEventListener('change', function() {
              if(this.checked) btnGuardar.disabled = false;
            })
          }
          })
        }

        const BASIC_VALIDATIONS = {
          'text': (txtFields) => basicValidationTxt(txtFields),
          'area': (txtFields) => basicValidationTxt(txtFields),
          'number': (numFields, metadata) => basicValidationNum(numFields, metadata),
          'scale': (numFields, metadata) => basicValidationNum(numFields, metadata),
          'year': (numFields, metadata) => basicValidationYear(numFields, metadata),
          'total': (numFields, metadata) => basicValidationTotal(numFields, metadata),
          'select_one': (checkFields, metadata) => basicValidationSelectOne(checkFields, metadata),
          'double_select': (checkFields, metadata) => basicValidationDoubleSelect(checkFields, metadata),
          'double_check_txt': (checkFields, metadata) => basicValidationDoubleCheckTxt(checkFields, metadata),
          'txt_sel': (fields, metadata) => basicValidationTxtSel(fields, metadata),
        }

        const BASIC_VALIDATIONS_DEFAULT = () => {
          alert("asdsad " + questionType +" Esta pregunta no tiene validaciones. Por favor seleccione la opción correspondiente.");
          btnGuardar.disabled = false;
        }
        
        const basic_validations = BASIC_VALIDATIONS[questionType]
          ? BASIC_VALIDATIONS[questionType](dataFields, questionMetadata)
          : BASIC_VALIDATIONS_DEFAULT()

        //PROCEDER CON OTRAS VALIDACIONES
        const itemSumValidation = (fields, value, condition) => {
          const divTotal = document.getElementById("total-div");
          //const form = document.getElementById("form")
          let total;
          let labelTotal;
          if(condition == '=') {
            numFields = fields;
            divTotal.innerHTML=
            `
              <div class="row">
                <div class="col-md-9 mx-auto mb-3">
                  <label id="total-label" for="total">
                    <b>TOTAL</b>
                  </label>
                </div>
                <div class="col-md-3 mx-auto mb-3">
                  <input type="number" class="form-control total" id="total" name="total" disabled/>
                </div>
              </div>
              <hr>
            `;
            total = document.getElementById("total");
            labelTotal = document.getElementById("total-label")
          } else {
            numFields = Array.from(fields);
            total = numFields.pop();
            total.disabled = false;
            total.setAttribute('readonly', true);
          }
          form.addEventListener("focusout", function(){
            total.value = 0;
            numFields.forEach(function(num) {
              total.value = parseInt(total.value) + parseInt(num.value || 0)
              switch(condition) {
                case '=':
                  if(total.value == value) {
                    btnGuardar.disabled = false;
                    labelTotal.style = "color:green"
                    total.style = "color:green"
                  } else {
                    btnGuardar.disabled = true;
                    labelTotal.style = "color:red"
                    total.style = "color:red"
                  }
                  break;
                case '>':
                  if(total.value > value) {
                    total.style = "color:green"
                  } else {
                    btnGuardar.disabled = true;
                    total.style = "color:red"
                  }
                  break;
              }
            })
          })
        }

        const optionMaxValueValidation = (numFields, value) => {
          numFields.forEach((numField) => numField.max = value)
        }

        const calculateAverageNextQuestionValidation = (numFields, value, condition) => {
          let sum = 0;
          let average = 0;
          let res;
          numFields.forEach(numField => sum = sum + parseInt(numField.value) )
          if(sum > 0) {
            average = sum / 2;
            const divHidden = document.getElementById("hidden-div");
            surveyType = document.getElementById('survey').innerText.charAt(0);
            if(average <= 5) res = 1;
            else {
              if(surveyType === 'S') {
                if(average > 5 && average <= 50) res = 2;
                else if(average > 50 && average <= 150 ) res = 3;
                else res = 4;
              }
              else {

                if(average > 5 && average <= 9) res = 5;
                else if(average > 9 && average <= 49) res = 6;
                else if(average > 49 && average <= 150) res = 7;
                else if(average > 150 && average <= 200) res = 8;
                else res = 9;
              }
            }
            divHidden.innerHTML=
            `
            <input type="hidden" id="next_question" name="${value}" value="${res}"/>
            `;
          }
        }

        const VALIDATIONS = {
          'itemSum': (fields, value, condition) => itemSumValidation(fields, value, condition),
          'optionMaxValue': (numFields, value) => optionMaxValueValidation(numFields, value),
          /*'calculateAverageNextQuestion': (numFields, value, condition) => calculateAverageNextQuestionValidation(numFields, value, condition),
          'year': (numFields, metadata) => basicValidationYear(numFields, metadata),
          'select_one': (checkFields, metadata) => basicValidationSelectOne(checkFields, metadata)*/
        }

        const VALIDATIONS_DEFAULT = () => console.log('Sin otras validaciones');

        if(questionMetadata.validation.length > 0) {
          questionMetadata.validation.forEach(validation => {
            const [name, value, condition] = validation
            const validations = VALIDATIONS[name]
              ? VALIDATIONS[name](dataFields, value, condition)
              : VALIDATIONS_DEFAULT();
  
          })
        }
      
      </script>
    </div>
  </div>
{% endif %}
    
{% endblock %}
