  {% for item in items %}
    <div>
      {% if item.0.text %}
        <div class="mb-2">
          <b>{{ item.0.text }}</b>
          {% if "(especifique)" in item.0.text %}
            <input type="text" class="form-control" id="{{item.0.id.specify}}"/>
          {% endif %}
        </div> 
      {% endif %} 
      {% for option in item.1  %}
      <div class="row">
        <div class="col-md-10 mx-auto mb-3">
          <div class="form-check">
            <input class="form-check-input" type="radio" name="{{item.0.id}}" id="{{option.0.id}}" value="{{option.0.text}}">
            <label class="form-check-label" 
                    for="{{option.0.id}}"
                    title="{{option.1.0}}">
              {{option.0.text}}
              
              {% if "(especifique)" in option.0.text %}
                <input type="text" class="form-control" id="{{option.0.id.specify}}"/>
              {% endif %}
                
            </label>
            </div>
          </div>
        </div>

        {% if option.1.0 %}
          <div class="row">
            <div class="col">
              <small><b>{{ option.1.0 }}</b></small>
            </div>
          </div>        
        {% endif %}

      {% endfor %}
      <hr>
    </div>
  {% endfor %}
