{% extends 'questions/question_detail_base.html' %}
{% load static %}
{% block question_content %}

        <div>
          <b>{{ question }}</b>
          {% comment %} {% if request.user.is_staff %}
            <p><a href="#">Editar</a></p>
          {% endif %} {% endcomment %}
          <hr>
        </div>
        {% for option in options  %}
          {% for op in option %}

        <div class="row">
          {% comment %} <div class="col-md-4 mx-auto">
            {% for item in items  %}
              {{ item }}
          </div> {% endcomment %}

          <div class="col-md-3 mx-auto mb-3">
              
            <label for="{{op.id}}">{{op.text}}({{op.id}})</label>
          </div>
          <div class="col-md-9 mx-auto mb-3">
            <input type="text" class="form-control" id="{{op.id}}"/>
          </div>
                
    
            

            

        </div>
          {% endfor %}
        {% endfor %}
        <button class="btn btn-primary btn-block">Guardar</button>

                {% comment %} <div class="row">
          <div class="col-md-4 mx-auto">
            {% for item in items  %}
              {{ item }}
          </div>
          <div class="col-md-4 mx-auto">
              {% for option in options  %}
                {{ option }}
              {% endfor %}
            {% endfor %}
          </div>          
        </div>{% endcomment %}

{% endblock %}
