{% extends 'core/base.html' %}
{% block title %}Pregunta {{ question.number }}{% endblock %}
{% block content %}
<main role="main">
  <div class="container">
    <h3 style="display:flex;justify-content:right;align-items:center;">{{ company|upper }}</h3>
    <h1 class="section-heading mb-4" 
        style="background-color:black;color:white" >
      Sección {{ question.section }}
    </h1>
    <div class="row mt-3">
      <div class="col-md-9 mx-auto">

        {% block question_content %}
          
        {% endblock question_content %}

      </div>
    </div>
  </div>
</main>
{% endblock %}
