{% extends 'questions/question_detail_base.html' %}
{% load static %}
{% block question_content %}


{% if 'init' in template_type %}
      <div class="mb-5">
        <h1><b>{{ question|upper }}</b></h1>
      </div>
        
      <form action="" method=post>
        {% csrf_token %}
            
        {% include template_type %}

        <div class="mb-3">
          <input type="submit" class="btn btn-primary btn-block" value="Siguiente" />
        </div>
      </form>
{% else %}
{% if question.subsection  %}
<h3>{{ question.subsection }}</h3>
<hr>
{% endif %}
  <div class="row mt-3">
    <div class="col-md-9 mx-auto">
      <div class="mb-5">
        <b>{{ question.number }}.  {{ question }}</b>
      </div>
      <form id="form" action="" method=post>
        {% csrf_token %}
        <input id="question_metadata" name="question_metadata" type="hidden" value="{{question_metadata}}" />
        {% include template_type %}
        <div id="total-div">
        </div>
        <div class="mb-3">
          {% comment %} <input type="button" class="btn btn-primary btn-block" id= "btnGuardar" value="Guardar" disabled/> {% endcomment %}
          <input type="submit" class="btn btn-primary btn-block" id= "btnGuardar" value="Guardar" disabled/>
        </div>
      </form>
      <script>
        const btnGuardar = document.getElementById('btnGuardar');
        let questionMetadata = JSON.parse(document.getElementById('question_metadata').value)
        const questionType = questionMetadata.question_type
        const dataFields = document.querySelectorAll('.data');

        const toEnableFieldTxt = (txtField, elementToEnable) => {
          if(txtField.checkValidity() && txtField.value.match(/^[a-zA-Z0-9ñÑáéíóúÁÉÍÓÚüÜ.,\s]+$/)){
            elementToEnable.disabled = false;
          }
          else{
            elementToEnable.disabled = true;
          }
        }

        const toEnableFieldNum = (numField, minValue, maxValue, elementToEnable) => {
          if(numField.checkValidity() && numField.value>=minValue && numField.value<=maxValue){
            elementToEnable.disabled = false;
          }
          else{
            elementToEnable.disabled = true;
          }
        }

        const basicValidationTxt = (txtFields, metadata) => {
          txtFields[0].disabled = false;
          txtFields.forEach(function(txtField, index) {
            txtField.addEventListener('input', function() {
              let nextElement;
              nextElement = txtFields[index+1]
                            ? txtFields[index+1]
                            : btnGuardar
              toEnableFieldTxt(txtField, nextElement)
            });
          });}

        const basicValidationNum = (numFields, metadata) => {
          numFields[0].disabled = false;
          numFields.forEach(function(numField, index) {
            numField.addEventListener('input', function() {
              let nextElement;
              nextElement = numFields[index+1]
                            ? numFields[index+1]
                            : btnGuardar
              if(!metadata[numField.id])  //Si no hay hijo solo validamos para el siguiente campo
                toEnableFieldNum(numField, 0, 100, nextElement);
              else { //Si hay hijo validamos para el hijo, y luego el siguiente campo
                childElement = document.getElementById(metadata[numField.id]);
                if(numField.checkValidity() && (numField.value >= 1)){
                  childElement.disabled = false;
                  nextElement.disabled = true;
                  childElement.addEventListener('input', function() {
                    toEnableFieldTxt(childElement, nextElement)
                  });
                }
                else{
                  if(numField.value >= 0){
                    childElement.disabled = true;
                    nextElement.disabled = false;
                  }
                  else{
                    childElement.disabled = true;
                    nextElement.disabled = true;
                  }
                }
              }
            });
          });
        }

        const basicValidationYear = (numFields, metadata) => {
          numFields[0].disabled = false;
          numFields.forEach(function(numField, index) {
            numField.addEventListener('input', function() {
              let nextElement;
              nextElement = numFields[index+1]
                            ? numFields[index+1]
                            : btnGuardar
              if(!metadata[numField.id])  //Si no hay hijo solo validamos para el siguiente campo
                toEnableFieldNum(numField, 1884, 2024, nextElement);
              else { //Si hay hijo validamos para el hijo, y luego el siguiente campo
                childElement = document.getElementById(metadata[numField.id]);
                if(numField.checkValidity() && (numField.value >= 1)){
                  childElement.disabled = false;
                  nextElement.disabled = true;
                  childElement.addEventListener('input', function() {
                    toEnableFieldTxt(childElement, nextElement)
                  });
                }
                else{
                  if(numField.value >= 0){
                    childElement.disabled = true;
                    nextElement.disabled = false;
                  }
                  else{
                    childElement.disabled = true;
                    nextElement.disabled = true;
                  }
                }
              }
            });
          });
        }

        const basicValidationTotal = (numFields, metadata) => {
          numFields[0].disabled = false;
          numFields.forEach(function(numField, index) {
            if(index < numFields.length-1) {
              numField.addEventListener('input', function() {
                console.log("LISTENER DE "+  index)
                let nextElement;
                nextElement = numFields[index+2]
                              ? numFields[index+1]
                              : btnGuardar
                if(!metadata[numField.id])  //Si no hay hijo solo validamos para el siguiente campo
                  toEnableFieldNum(numField, 0, 300, nextElement);
                else { //Si hay hijo validamos para el hijo, y luego el siguiente campo
                  childElement = document.getElementById(metadata[numField.id]);
                  if(numField.checkValidity() && (numField.value >= 1)){
                    childElement.disabled = false;
                    nextElement.disabled = true;
                    childElement.addEventListener('input', function() {
                      toEnableFieldTxt(childElement, nextElement)
                    });
                  }
                  else{
                    if(numField.value >= 0){
                      childElement.disabled = true;
                      nextElement.disabled = false;
                    }
                    else{
                      childElement.disabled = true;
                      nextElement.disabled = true;
                    }
                  }
                }
              });
            }
          });
        }

        const basicValidationSelectOne = (checkFields, metadata) => {
          //items es un array de arrays, cada array interno contiene las opciones del item
          const options = Object.values(dataFields);
          const items = Object.values(
            options.reduce((acc, option) => {
              // Si el grupo aún no existe, lo inicializamos como un array vacío
              if (!acc[option.name]) {
                acc[option.name] = [];
              }
              // Añadimos el objeto actual al grupo correspondiente
              acc[option.name].push(option);
              return acc;
            }, {})
          );
          const itemChilds = [];  //Arreglo de hijos de cada item
                                  //un hijo por item, organizados por index

          items.forEach((item, index) => {
            let itemChild;
            item.forEach(option => {
              if(metadata[option.id]) {
                itemChild = document.getElementById(metadata[option.id]);
              }
            })
            itemChilds.splice(index, 0, itemChild);
          })
          items[0].forEach(option => option.disabled = false)
          items.forEach((item, index) => {
            item.forEach(option => {
              option.addEventListener('change', function(){
                if(this.checked) 
                  if(!metadata[option.id]){
                    if(items[index+1]) {
                      items[index+1].forEach(option => option.disabled = false)}
                    else btnGuardar.disabled = false
                    //SI EL GRUPO TIENE HIJO LO DESHABILITAMOS
                    if(itemChilds[index]) itemChilds[index].disabled = true
                  } else {
                      childElement = itemChilds[index]
                      childElement.disabled = false
                      if(items[index+1]) items[index+1].forEach(option => option.disabled = true)
                      else btnGuardar.disabled = true
                      //VALIDO EL HIJO
                      childElement.addEventListener('input', function() {
                        if(childElement.checkValidity() && childElement.value.match(/^[a-zA-Z0-9.,\s]+$/)){
                          if(items[index+1]) items[index+1].forEach(option => option.disabled = false)
                          else btnGuardar.disabled = false
                        }
                        else{
                          if(items[index+1]) items[index+1].forEach(option => option.disabled = true)
                          else btnGuardar.disabled = true
                        }                      
                      });                      
                  }
              });
            });
          })
        }
  
        const basicValidationDoubleSelect = (checkFields, metadata) => {
          console.log("DOUBLE CHECK")
          console.log("METADATA")
          console.log(metadata)
          //items es un array de arrays, cada array interno contiene las opciones del item
          const options = Object.values(dataFields);
          const items = Object.values(
            options.reduce((acc, option) => {
              // Si el grupo aún no existe, lo inicializamos como un array vacío
              if (!acc[option.name]) {
                acc[option.name] = [];
              }
              // Añadimos el objeto actual al grupo correspondiente
              acc[option.name].push(option);
              return acc;
            }, {})
          );
          const itemsChilds = [];
          items.forEach((item, index) => {
            option = item[1]
            let optionChilds = [];
            childs_id = metadata[option.id]
            childs_id.forEach(child_id => {
              child = document.getElementById(child_id);
              optionChilds.splice(index, 0, child);
            })
            itemsChilds.splice(index, 0, optionChilds)
          })
            /*item.forEach((option) => {
              let optionChilds = [];
              if(metadata[option.id]){
                childs_id = metadata[option.id]
                childs_id.forEach(child_id => {
                  child = document.getElementById(child_id);
                  optionChilds.splice(index, 0, child);
                  console.log("AGREGANDO A OPTIONCHILDS")
                  console.log(optionChilds)
                })
              }
              itemChilds.splice(index, 0, optionChilds)
              console.log("AGREGANDO A ITEMCHILDS")
              console.log(itemChilds)
            })*/
    /*        itemsChilds.splice(index, 0, itemChilds);
            console.log("AGREGANDO A ITEMSCHILDS")
            console.log(itemsChilds)
          })*/
          items[0].forEach(option => option.disabled = false)
          items.forEach((item, index) => {
            item.forEach((option) => {
              option.addEventListener('change', function(){
                if(this.checked) {
                  console.log("OPTION CHEKEADA")
                  console.log(option)
                  console.log("TIENE HIJOS???")
                  console.log(metadata[option.id])
                  //SI TIENE HIJOS ACTIVARLOS Y DESACTIVAR NEXT
                    //VALIDARLOS Y ACTIVAR NEXTELEMNT
                  //NO TIENE HIJOS ACTIVAR NEXTELEMENT
                  /*childElements = itemsChilds[0][index]
                  notChildElements = itemsChilds[0][itemsChilds[0].length-1-index]
                  childElements.forEach(childElement => childElement.disabled = false)
                  notChildElements.forEach(notChildElement => notChildElement.disabled = true)*/
                  nextItem = items[index+1]
                            ? items[index+1]
                            : btnGuardar
                  if(metadata[option.id]){
                    itemsChilds.forEach(optionChild => optionChild.disabled = false);
                    console.log("NEXTITEM")
                    console.log(nextItem)
                    if(nextItem.length){
                      console.log("LARGOOOOO")
                      console.log(nextItem.length)
                    }

                    
                  }
                  if(childElements.length == 0) {
                    if(nextItem) {
                      console.log(items[index+1])
                      nextItem.forEach(option => option.disabled = false)
                    } else {
                      btnGuardar.disabled = false
                    }
                  }

                  //VALIDO EL HIJO
                  if(childElements.length == 1) {
                    btnGuardar.disabled = true
                    childElements[0].addEventListener('input', function(){
                                      toEnableFieldTxt(childElements[0], btnGuardar) })
                  } 
                  if(childElements.length == 2) {
                    if(nextItem) {
                      nextItem.forEach(option => {
                        console.log(option)
                        option => option.disabled = true})
                    } else {
                      btnGuardar.disabled = true
                    }
                    
                    childElements.forEach(child => {
                      child.addEventListener('change', function(){
                        if(nextItem) nextItem.forEach(option => option.disabled = false)
                        else btnGuardar.disabled = false
                      })
                    })
                  }
                }
                  
              });                      
            });
          });
        }
  ////////////////////////////////////////////////////////////////////////////////////////////////////
  ////////////////////////////////////////////////////////////////////////////////////////////////////
  ////////////////////////////////////////////////////////////////////////////////////////////////////
  ////////////////////////////////////////////////////////////////////////////////////////////////////
  ////////////////////////////////////////////////////////////////////////////////////////////////////
        const basicValidationDoubleCheckTxt = (checkFields, metadata) => {
          //items es un array de arrays, cada array interno contiene las opciones del item
          const options = Object.values(dataFields);
          const items = Object.values(
            options.reduce((acc, option) => {
              // Si el grupo aún no existe, lo inicializamos como un array vacío
              if (!acc[option.name]) {
                acc[option.name] = [];
              }
              // Añadimos el objeto actual al grupo correspondiente
              acc[option.name].push(option);
              return acc;
            }, {})
          );
          const itemsChilds = [];
          items.forEach((item, index) => {
            let itemChilds = [];
            item.forEach((option, index) => {
              let optionChilds = [];
              if(metadata[option.id]){
                childs_id = metadata[option.id]
                childs_id.forEach(child_id => {
                  child = document.getElementById(child_id);
                  optionChilds.splice(index, 0, child);
                })
              }
              itemChilds.splice(index, 0, optionChilds)
            })
            itemsChilds.splice(index, 0, itemChilds);
          })
          items[0].forEach(option => option.disabled = false)
          items.forEach((item) => {
            item.forEach((option, index) => {
              option.addEventListener('change', function(){
                if(this.checked) {
                  childElements = itemsChilds[0][index]
                  notChildElements = itemsChilds[0][itemsChilds[0].length-1-index]
                  childElements.forEach(childElement => childElement.disabled = false)
                  notChildElements.forEach(notChildElement => notChildElement.disabled = true)
                  nextItem = items[index+1]
                  if(childElements.length == 0) {
                    if(nextItem) {
                      console.log(items[index+1])
                      nextItem.forEach(option => option.disabled = false)
                    } else {
                      btnGuardar.disabled = false
                    }
                  }

                  //VALIDO EL HIJO
                  if(childElements.length == 1) {
                    btnGuardar.disabled = true
                    childElements[0].addEventListener('input', function(){
                                      toEnableFieldTxt(childElements[0], btnGuardar) })
                  } 
                  if(childElements.length == 2) {
                    if(nextItem) {
                      nextItem.forEach(option => {
                        console.log(option)
                        option => option.disabled = true})
                    } else {
                      btnGuardar.disabled = true
                    }
                    
                    childElements.forEach(child => {
                      child.addEventListener('change', function(){
                        if(nextItem) nextItem.forEach(option => option.disabled = false)
                        else btnGuardar.disabled = false
                      })
                    })
                  }
                }
                  
              });                      
            });
          });
        }
  
        const BASIC_VALIDATIONS = {
          'text': (txtFields) => basicValidationTxt(txtFields),
          'area': (txtFields) => basicValidationTxt(txtFields),
          'number': (numFields, metadata) => basicValidationNum(numFields, metadata),
          'scale': (numFields, metadata) => basicValidationNum(numFields, metadata),
          'year': (numFields, metadata) => basicValidationYear(numFields, metadata),
          'total': (numFields, metadata) => basicValidationTotal(numFields, metadata),
          'select_one': (checkFields, metadata) => basicValidationSelectOne(checkFields, metadata),
          'double_select': (checkFields, metadata) => basicValidationDoubleSelect(checkFields, metadata),
          'double_check_txt': (checkFields, metadata) => basicValidationDoubleCheckTxt(checkFields, metadata)
        }

        const BASIC_VALIDATIONS_DEFAULT = () => console.log('Sin validaciones básicas');
        //console.log("ANTES DEL LLAMADO")
        //console.log(dataFields)
        const basic_validations = BASIC_VALIDATIONS[questionType]
          ? BASIC_VALIDATIONS[questionType](dataFields, questionMetadata)
          : BASIC_VALIDATIONS_DEFAULT;

        //PROCEDER CON OTRAS VALIDACIONES
        const itemSumValidation = (fields, value, condition) => {
          const divTotal = document.getElementById("total-div");
          const form = document.getElementById("form")
          let total;
          let labelTotal;
          if(condition == '=') {
            numFields = fields;
            divTotal.innerHTML=
            `
              <div class="row">
                <div class="col-md-9 mx-auto mb-3">
                  <label id="total-label" for="total">
                    <b>TOTAL</b>
                  </label>
                </div>
                <div class="col-md-3 mx-auto mb-3">
                  <input type="number" class="form-control total" id="total" name="total" disabled/>
                </div>
              </div>
              <hr>
            `;
            total = document.getElementById("total");
            labelTotal = document.getElementById("total-label")
          } else {
            numFields = Array.from(fields);
            total = numFields.pop();
            total.disabled = false;
            const form = document.getElementById("form")
          }
          form.addEventListener("focusout", function(){
            total.value = 0;
            numFields.forEach(function(num) {
                total.value = parseInt(total.value) + parseInt(num.value || 0)
                switch(condition) {
                  case '=':
                    if(total.value == value) {
                      btnGuardar.disabled = false;
                      labelTotal.style = "color:green"
                      total.style = "color:green"
                    } else {
                      btnGuardar.disabled = true;
                      labelTotal.style = "color:red"
                      total.style = "color:red"
                    }
                    break;
                  case '>':
                    if(total.value > value) {
                      total.style = "color:green"
                    } else {
                      btnGuardar.disabled = true;
                      total.style = "color:red"
                    }
                    break;
                }
              })
            })
          }


        const VALIDATIONS = {
          'itemSum': (fields, value, condition) => itemSumValidation(fields, value, condition),
          /*'number': (numFields, metadata) => basicValidationNum(numFields, metadata),
          'scale': (numFields, metadata) => basicValidationNum(numFields, metadata),
          'year': (numFields, metadata) => basicValidationYear(numFields, metadata),
          'select_one': (checkFields, metadata) => basicValidationSelectOne(checkFields, metadata)*/
        }

        const VALIDATIONS_DEFAULT = () => console.log('Sin validaciones');

        if(questionMetadata.validation) {
          const [name, value, condition] = questionMetadata.validation.validation
          console.log(name)
          console.log(name=='itemSum')
          console.log(name==='itemSum')
          const validations = VALIDATIONS[name]
            ? VALIDATIONS[name](dataFields, value, condition)
            : VALIDATIONS_DEFAULT;
        }
      
      </script>
    </div>
  </div>
{% endif %}
    
{% endblock %}
