{% for item in items %}
  <div>
    {% if item.0.text %}
      <div class="mb-2">
        <b>{{ item.0.text }}</b>
      </div> 
    {% endif %} 
    {% for option in item.1  %}
      <div class="row">
        <div class="col-md-9 mx-auto mb-3">
          <label for="{{option.0.id}}">
            {{option.0.text}}
          </label>
        </div>
        <div class="col-md-3 mx-auto mb-3">
          <select class="form-control" id="{{option.0.id}}" name="{{option.0.id}}" disabled/>
            <option selected>Elija un valor</option>
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
            <option value="5">5</option>
            <option value="6">6</option>
            <option value="7">7</option>
            <option value="8">8</option>
            <option value="9">9</option>
            <option value="10">10</option>

            {% if option.0.children %}

            <option value="0">0</option>

          </select>
        </div>
      </div>

        <div class="row">
          <div class="col-md-3 mx-auto mb-3">
            <label for="{{option.2.0.1.0.id}}">
              {{option.2.0.1.0.text}}
            </label>
          </div>
          <div class="col-md-9 mx-auto mb-3">
            <input type="text" class="form-control" id="{{option.2.0.1.0.id}}" name="{{option.2.0.1.0.id}}" disabled/>
          </div>
        </div>
      {% else %}

          </select>
        </div>
      </div>      
      {% endif %} 


      {% if option.1.0 %}
        <div class="row">
          <div class="col">
            <small><b>{{ option.1.0 }}</b></small>
          </div>
        </div>        
      {% endif %}
            
    {% endfor %}
    <hr>
  </div>
{% endfor %}



