  {% for item in items %}
    <div>
      <div>
      <div class="row">
        <div class="col-md-9">
          {% if item.0.text %}
            <div class="mb-2">
              <b>{{ item.0.text }}</b>
            </div> 
          {% endif %} 

          {% for option in item.1  %}
            <div class="row">
              <div class="col-md-10 mx-auto mb-3">
                <div class="form-check">
                  <input class="form-check-input" type="radio" name="{{item.0.id}}" id="{{option.0.id}}" value="{{option.0.text}}">
                  <label class="form-check-label" 
                          for="{{option.0.id}}"
                          title="{{option.1.0}}">
                    {{option.0.text}}
                  </label>
                </div>
              </div>
            </div>        
                      
            {% if option.1.0 %}
              <div class="row">
                <div class="col">
                  <small><b>{{ option.1.0 }}</b></small>
                </div>
              </div>        
            {% endif %}
            
            {% if option.0.children %}
        </div>
        <hr>
          <div class="col-md-3">
              <b>{{option.0.children}}</b>
              {% for child_option in option.2.0.1 %}
              <div class="row">
                <div class="col-md-10 mx-auto mb-3">
                  <div class="form-check">
                    <input class="form-check-input" type="radio" name="{{item.0.id}}" id="{{option.0.id}}" value="{{option.0.text}}">
                    <label class="form-check-label" 
                            for="{{option.0.id}}"
                            title="{{option.1.0}}">
                      {{child_option.text}}
                    </label>
                  </div>
                </div>
              </div>    
              {% endfor %}
            {% else %}
            {% endif %}
            


          {% endfor %}

      </div>
      <hr>
    </div>
  </div>
  {% endfor %}
