{% extends 'questions/question_detail_base.html' %}
{% load static %}
{% block question_content %}

        <div class="mb-5">
          <b>{{ question }}</b>
          {% comment %} {% if request.user.is_staff %}
            <p><a href="#">Editar</a></p>
          {% endif %} {% endcomment %}
        </div>
          
        
        {% for item in items %}
        <div>

          {% if item.0.text %}
          <div class="mb-2">
            <b>{{ item.0.text }}</b>
          </div> 
          {% endif %} 
          

            

        
        {% for option in item.1  %}
          {% comment %} {% for op in option %} {% endcomment %}
          <div class="row">
          {% comment %} <div class="col-md-4 mx-auto">
            {% for item in items  %}
              {{ item }}
          </div> {% endcomment %}

            <div class="col-md-3 mx-auto mb-3">
              
              <label for="{{option.id}}">{{option.text}}({{option.id}})</label>
            </div>
            <div class="col-md-9 mx-auto mb-3">
              <input type="text" class="form-control" id="{{option.id}}"/>
            </div>
          </div>
             
    
            

            
          {% comment %} {% endfor %} {% endcomment %}
        {% endfor %}
        <hr>
      </div>
      {% endfor %}
        <button class="btn btn-primary btn-block">Guardar</button>

                {% comment %} <div class="row">
          <div class="col-md-4 mx-auto">
            {% for item in items  %}
              {{ item }}
          </div>
          <div class="col-md-4 mx-auto">
              {% for option in options  %}
                {{ option }}
              {% endfor %}
            {% endfor %}
          </div>          
        </div>{% endcomment %}
                 

{% endblock %}
