{% load static %}
{% comment %} {% block title %}Pregunta {{object}} fdv {% endblock %} {% endcomment %}
{% block content %}
{% comment %} <div> {% endcomment %}
<h1>Formulario {{survey_data.survey_type.name|slice:":1"}}</h1>
<ul class="list-group list-group-flush mb-4">
  <li class="list-group-item">
    Encuestador: <b>{{surveyor}}</b> | {{surveyor.ENC_CODE}}
  </li>
  <li class="list-group-item">
    Supervisor: <b>{{supervisor}}</b> | {{supervisor.SUP_CODE}}
  </li>
  <li class="list-group-item">
    Empresa: <b>{{ company }}</b>
  </li>
  <li class="list-group-item">
    <p>Usted está iniciando un <b>{{survey_data.survey_type.description}} {{survey_data.survey_type.year}}</b></p>
  </li>
</ul>
<h2 class="section-heading mb-4"></h2>


  {% comment %} <form action="" method="post">
    {% csrf_token %}
    <div class="text-center">
      <input type="submit" class="btn btn-primary btn-block" value="Iniciar Encuesta" />
    </div>
  </form> {% endcomment %}
{% comment %} </div> {% endcomment %}
{% endblock %}