{% load static %}
{% comment %} {% block title %}Pregunta {{object}} fdv {% endblock %} {% endcomment %}
{% block content %}
<h2 class="section-heading mb-4">Empresa: {{ company }}</h2>
<div>
  <p>Usted está iniciando un <b>{{survey_data.survey_type.description}} {{survey_data.survey_type.year}}</b></p>
  <h1>Formulario {{survey_data.survey_type.name|slice:":1"}}</h1>

  <ul class="list-group list-group-flush mb-4">
    <li class="list-group-item">
      Encuestador: {{surveyor}}
    </li>
    <li class="list-group-item">
      Supervisor: {{supervisor}}
    </li>
  </ul>

  {% comment %} <form action="" method="post">
    {% csrf_token %}
    <div class="text-center">
      <input type="submit" class="btn btn-primary btn-block" value="Iniciar Encuesta" />
    </div>
  </form> {% endcomment %}
</div>
{% endblock %}