{% for item in items %}
  <div>
    {% if item.0.text %}
      <div class="mb-2">
        <b>{{ item.0.text }}</b>
      </div> 
    {% endif %} 
    {% for option in item.1  %}
      <div class="row">
        <div class="col-md-9 mx-auto mb-3">
          <label for="{{option.id}}">{{option.text}}({{option.id}})</label>
        </div>
        <div class="col-md-3 mx-auto mb-3">
          <input type="number" class="form-control" id="{{option.id}}"/>
        </div>
      </div>
    {% endfor %}
    <hr>
  </div>
{% endfor %}
<div class="mb-3">
  <button class="btn btn-primary btn-block">Guardar</button>
</div>


