{% load static %}
{% block content %}
  <div class=row>
    <div class="col-md-2 mx-auto mb-3">
      <label for="state">Provincia</label>
    </div>
    <div class="col-md-10 mx-auto mb-3">
      <input type="text" class="form-control" 
            id="state" name="state" 
            value="94 - Tierra del Fuego" disabled/>
    </div>
  </div> 
  <div class="row">
    <div class="col-md-2 mx-auto mb-3">
      <label for="district">Departamento</label>
    </div>
    <div class="col-md-10 mx-auto mb-3">
      <select class="form-control" id="district" name="district">
        
        {% for district in districts %}
          <option value="{{ district.id }}">{{ district.id }} - {{ district }}</option>
        {% endfor %}

      </select>
    </div>
  </div>
  <div class="row">
    <div class="col-md-2 mx-auto mb-3">
      <label for="city">Localidad</label>
    </div>
    <div class="col-md-10 mx-auto mb-3">
      <select class="form-control" id="city" name="city">
        <option value="{{ city_registered.code }}" selected>{{ city_registered.id }} - {{ city_registered }}</option>
        
        {% for city in cities %}
          <option value="{{ city.code }}">{{ city.id }} - {{ city }}</option>
        {% endfor %}

      </select>
    </div>
  </div>
  <div class="row">
    <div class="col-md-2 mx-auto mb-3">
      <label for="activity_code">Código Empresa</label>
    </div>
    <div class="col-md-10 mx-auto mb-3">
      <input type="text" class="form-control" 
            id="activity_code" name="activity_code" 
            value="{{ company.activity_code }}" />
    </div>
  </div>
  <div class="row">
    <div class="col-md-2 mx-auto mb-3">
      <label for="year">Año</label>
    </div>
    <div class="col-md-10 mx-auto mb-3">
      <input type="text" class="form-control" 
            id="year" name="year" 
            value="2024" disabled/>
    </div>
  </div>
{% endblock %}