{% load static %}
{% block content %}
  <div class="row">
    <div class="col-md-2 mx-auto mb-3">
      <label for="surveyor">Encuestador</label>
    </div>
    <div class="col-md-10 mx-auto mb-3">
      <select class="form-control" id="surveyor" name="surveyor">
        {% for surveyor in surveyors %}
          <option value="{{ surveyor.ENC_CODE }}">{{surveyor.ENC_CODE}} - {{ surveyor }}</option>
        {% endfor %}

      </select>

    </div>
  </div>
  <div class="row">
    <div class="col-md-2 mx-auto mb-3">
      <label for="supervisor">Supervisor</label>
    </div>
    <div class="col-md-10 mx-auto mb-3">
      <input type="text" class="form-control" 
            id="supervisor" name="supervisor" 
            value="{{supervisor.SUP_CODE}} - {{ supervisor }}" disabled/>
    </div>
  </div>
  <div class="row">
    <div class="col-md-2 mx-auto mb-3">
      <label for="company">Empresa</label>
    </div>
    <div class="col-md-10 mx-auto mb-3">
      <input type="text" class="form-control" 
            id="company" name="company" 
            value="{{ company }}" disabled/>
    </div>
  </div>
  <div class="row">
    <div class="col-md-2 mx-auto mb-3">
      <label for="survey_type">Cuestionario</label>
    </div>
    <div class="col-md-10 mx-auto mb-3">
      <input type="text" class="form-control" 
            id="survey_type" name="survey_type" 
            value="{{ survey_data.survey_type }}" disabled/>
    </div>
  </div>
{% endblock %}