{% for item in items %}
  <div>
    {% if item.0.text %}
      <div class="mb-2">
        <b>{{ item.0.text }}</b>
      </div> 
    {% endif %} 
    {% for option in item.1  %}
      <div class="row">
        <div class="col-md-3 mx-auto mb-3">
          <label for="{{option.0.id}}"
                  title="{{option.1.0}}">
            {{option.0.text}}({{option.0.id}})
          </label>
        </div>
        <div class="col-md-9 mx-auto mb-3">
          <input type="text" class="form-control" id="{{option.0.id}}"/>
        </div>
      </div>
    {% endfor %}
    <hr>
  </div>
{% endfor %}
