{% load static %}
{% block content %}
  <div class=row>
    <div class="col-md-2 mx-auto mb-3">
      <label for="state">Provincia</label>
    </div>
    <div class="col-md-10 mx-auto mb-3">
      <input type="text" class="form-control" 
            id="state" name="state" 
            value="Tierra del Fuego" disabled/>
    </div>
  </div>
  <div class="row">
    <div class="col-md-2 mx-auto mb-3">
      <label for="district">Departamento</label>
    </div>
    <div class="col-md-10 mx-auto mb-3">
      <select class="form-control" id="district" name="district">
        <option value="{{ district_registered.code }}" selected>{{ district_registered }}</option>
        
        {% for district in districts %}
          <option value="{{ district.code }}">{{ district }}</option>
        {% endfor %}

      </select>
    </div>
  </div>
  <div class="row">
    <div class="col-md-2 mx-auto mb-3">
      <label for="city">Localidad</label>
    </div>
    <div class="col-md-10 mx-auto mb-3">
      <select class="form-control" id="city" name="city">
        <option value="{{ city_registered.code }}" selected>{{ city_registered }}</option>
        
        {% for city in cities %}
          <option value="{{ city.code }}">{{ city }}</option>
        {% endfor %}

      </select>
    </div>
  </div>
  <div class="row">
    <div class="col-md-2 mx-auto mb-3">
      <label for="clanae">Código Empresa</label>
    </div>
    <div class="col-md-10 mx-auto mb-3">
      <input type="text" class="form-control" 
            id="clanae" name="clanae" 
            value="{{ company.clanae_code }}" />
    </div>
  </div>
  <div class="row">
    <div class="col-md-2 mx-auto mb-3">
      <label for="year">Año</label>
    </div>
    <div class="col-md-10 mx-auto mb-3">
      <input type="text" class="form-control" 
            id="year" name="year" 
            value="2024" disabled/>
    </div>
  </div>
{% endblock %}