{% load static %}
{% block content %}
  <div class="row mb-3">
    <div class="col-md-10 mx-auto mb-3">
      <b>Entrevista realizada</b>
    </div>
    <div class="col-md-1 mx-auto mb-3">
      <div class="form-check">
        <input class="form-check-input" type="radio" name="entrevista" id="entrevista_realizada1" value="1">
        <label class="form-check-label" for="entrevista_realizada1">SI</label>
      </div>
    </div>
    <div class="col-md-1 mx-auto mb-3">
      <div class="form-check">
        <input class="form-check-input" type="radio" name="entrevista" id="entrevista_realizada2" value="2">
        <label class="form-check-label" for="entrevista_realizada2">NO</label>
      </div>
    </div>
  </div>

  {% comment %} <hr> {% endcomment %}
  <div class="row">
    <div class="col-md-2 mx-auto mb-3">
      <label for="supervisor">Fecha de la entrevista</label>
    </div>
    <div class="col-md-10 mx-auto mb-3">
      <input type="date" class="form-control" 
            id="fecha" name="fecha" value="" />
    </div>
  </div>

{% endblock %}