{% extends 'core/base.html' %}
{% block title %}
  {% if 'init' not in template_type %}
    Pregunta {{ question.number }}
  {% else %}
    {{ question.text }}
  {% endif %}
{% endblock %}
{% block content %}
<main role="main">
  <div class="container">
    
    {% if 'init' not in template_type %}
      <h3 id="survey" style="display:flex;justify-content:right;align-items:center;">{{survey_type}} | {{ company|upper }}</h3>
      <h1 class="section-heading mb-4" 
          style="background-color:black;color:white" >
        Sección: {{ question.section }}
      </h1>
    {% endif %}
      

    {% block question_content %}
      
    {% endblock question_content %}
  </div>
</main>
{% endblock %}
