{% extends 'core/base.html' %}
{% load static %}
{% block title %}Páginas{% endblock %}
{% block content %}
{% include 'surveys/includes/surveys_menu.html' %}
<main role="main">
  <div class="container mb-4">
    {% for survey in survey_list %}
      <div class="row mt-3">
        <div class="col-md-9 mx-auto">
          <h2 class="mb-4">{{survey.company}}</h2>
          <div>
            <p>{{survey.company|striptags|safe|truncatechars:"200"}}</p>
            <p><a href="{% url 'surveys:survey' survey.id survey.company|slugify %}">Leer más</a>
              {% if request.user.is_staff %}
                | <a href="{% url 'surveys:update' survey.id %}">Editar</a>
                | <a href="{% url 'surveys:delete' survey.id %}">Borrar</a> 
              {% endif %}
            </p>
          </div>
        </div>
      </div>
    {% endfor %}
  </div>
</main>
{% endblock %}
