{% extends 'core/base.html' %}
{% load static %}
{% block title %}Nueva Encuesta{% endblock %}

{% block extrahead %}
{% comment %} <script src="https://code.jquery.com/jquery-3.7.1.min.js" integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script> {% endcomment %}
  <script src="{% static 'core/vendor/jquery/jquery.min.js' %}"></script>

  {{ form.media }}
{% endblock %}


{% block content %}
{% include 'surveys/includes/surveys_menu.html'%}
<main role="main">
  <div class="container">
    <div class="row mt-3 mb-3">
      <div class="col-md-9 mx-auto">
        <div>
          <form action="" method="post">{% csrf_token %}
            
            {{ form.as_p }}
            
            <div class="text-center">
              <input type="submit" class="btn btn-primary btn-block" value="Crear Encuesta" />
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</main>
{% endblock %}