{% extends 'core/base.html' %}
{% load static %}
{% block title %}Nueva Encuesta{% endblock %}
{% block content %}
{% include 'surveys/includes/surveys_menu.html'%}
<main role="main">
  <div class="container">
    <div class="row mt-3 mb-3">
      <div class="col-md-9 mx-auto">
        <div>
          <form action="" method="post">{% csrf_token %}
            
            {{ form.as_p }}
            
            <div class="text-center">
              <input type="submit" class="btn btn-primary btn-block" value="Crear Encuesta" />
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</main>
{% endblock %}